{% extends "base.html" %}

{% block content %}
<h3>Voici les détails de l'appartement</h3>

            <p>Propriété : {{ apt.property }}</p>
            <p>Numéro : {{ apt.aptNumber }}</p>
            <p>Grandeur : {{ apt.size }}</p>
            <p>Statue : {{ apt.status }}</p>
            <p>Description : {{ apt.description }}</p>
            <p><img src="{{ apt.image1.url }}" alt="{{ apt.image1 }}"  width="120" height="200"></p>
            {% if apt.image2 != '' %}
                <p><img src="{{ apt.image2.url }}" alt="..."  width="80" height="100"></p>
            {% endif %}


<h3>Ok ok ok </h3>

{% endblock content %}