{% extends "base.html" %}




{% block content %}


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">LOGI 2001</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

          {% for item in tabs %}

                <li><a href="#{{ item.permalink }}">{{ item.menuTitle }}</a></li>

          {% endfor %}


          <li><a href="#logements">LOGEMENTS</a></li>
          <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="jumbotron text-center">
  <h1>LOGI 2001</h1>
  <p>Les proprios à votre service</p>
</div>



 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for item in propList %}
      {% if forloop.counter0 == 0 %}
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      {% else %}
             <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
      {% endif %}
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

      {% for item in propList %}
        {% if forloop.counter0 == 0 %}
            <div class="item active">
              <img src="{{ item.image.url }}" alt="Aaaa" class="centerr">
              <div class="carousel-caption">
                <h3>{{ item.name }}</h3>
                <p></p>
              </div>
            </div>
        {% else %}
             <div class="item">
              <img src="{{ item.image.url }}" alt="Aaaa" class="centerr">
              <div class="carousel-caption">
                <h3>{{ item.name }}</h3>
                <p></p>
              </div>
            </div>
        {% endif %}
      {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{% for item in tabs %}

    <!-- Container (About Section) -->
    <div id="{{ item.permalink }}" class="container-fluid">
        <div class="row">
            <h2>{{ item.title }}</h2><br>
        </div>
        <div class="row">
            <div class="col-sm-8">
              <h4>{{ item.bodytext }}</h4><br>
            </div>
            <div class="col-sm-4">
              <img src="{{ item.image.url }}" class="centerr">
            </div>
        </div>
    </div>

{% endfor %}


<div id="logements" class="jumbotron2">


            <br>

            <h2>Trouvez un logement</h2>

            <form action= "" method= "POST">{% csrf_token %}


                <div class="row">

                     <div class="col-sm-3"></div>
                     <div class="col-sm-3">

                         <h3><b>Grandeur</b></h3>

                         {% for item in sizes %}

                            <div class="checkbox">
                                <label><input type="checkbox" name="sizeSel" value="{{ item.size }}"><font size="5"><b>{{ item.size }}</label>
                            </div>

                         {% endfor %}

                     </div>
                     <div class="col-sm-3">

                         <h3><b>Secteur</b></h3>

                         {% for item in sectors %}

                            <div class="checkbox">
                                <label><input type="checkbox" name="sectorSel" value="{{ item.sector }}"><font size="5"><b>{{ item.sector }}</label>
                            </div>

                         {% endfor %}


                     </div>

                     <div class="col-sm-3"></div>

                </div>


                <div class="row">

                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">

                        <input type="submit" class="btn btn-dark" name="SEARCH" value="TROUVEZ">

                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1"></div>


                </div>


            </form>

    <br>
    <br>
    <br>
  <br><br><br>

    </div>

    {% if submitted == 'Queries' %}


            <div id="resultats" class="container-fluid">

            <h2>Logements trouvez</h2>

            {% for item in aptFilter %}

                <div class="row">

                    <div class="col-sm-4">



                        <div id="{{ item.aptNumber }}" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="max-width:900px; max-height:600px !important;">

                            {% if item.image1 != '' %}
                                <div class="item active">
                                    <img src="{{ item.image1.url }}" alt="Aaa" style="width:300px;height:200px;">
                                    <div class="carousel-caption">
                                        <h3>{{ item.image1Text }}</h3>
                                        <p></p>
                                    </div>
                                </div>
                            {% endif %}

                            {% if item.image2 != '' %}
                                <div class="item" style="max-width:900px; max-height:600px !important;">
                                    <img src="{{ item.image2.url }}" alt="Aaa" style="width:300px;height:200px;">
                                    <div class="carousel-caption">
                                        <h3>{{ item.image2Text }}</h3>
                                        <p></p>
                                    </div>
                                </div>
                            {% endif %}

                            {% if item.image3 != '' %}
                                <div class="item" style="max-width:900px; max-height:600px !important;">
                                    <img src="{{ item.image3.url }}" alt="Aaa" style="width:300px;height:200px;">
                                    <div class="carousel-caption">
                                        <h3>{{ item.image3Text }}</h3>
                                        <p></p>
                                    </div>
                                </div>
                            {% endif %}

                            {% if item.image4 != '' %}
                                <div class="item" style="max-width:900px; max-height:600px !important;">
                                    <img src="{{ item.image4.url }}" alt="Aaa" style="width:300px;height:200px;">
                                    <div class="carousel-caption">
                                        <h3>{{ item.image4Text }}</h3>
                                        <p></p>
                                    </div>
                                </div>
                            {% endif %}


                            {% if item.image5 != '' %}
                                <div class="item" style="max-width:900px; max-height:600px !important;">
                                    <img src="{{ item.image5.url }}" alt="Aaa" style="width:300px;height:200px;">
                                    <div class="carousel-caption">
                                        <h3>{{ item.image5Text }}</h3>
                                        <p></p>
                                    </div>
                                </div>
                            {% endif %}


                            {% if item.image6 != '' %}
                                <div class="item" style="max-width:900px; max-height:600px !important;">
                                    <img src="{{ item.image6.url }}" alt="Aaa" style="width:300px;height:200px;">
                                    <div class="carousel-caption">
                                        <h3>{{ item.image6Text }}</h3>
                                        <p></p>
                                    </div>
                                </div>
                            {% endif %}


                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#{{ item.aptNumber }}" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#{{ item.aptNumber }}" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>

                    </div>


                    <div class="col-sm-4">

                        <table class="table table-hover">
                            <thead>
                              <tr>
                                  <td class="col-md-6"></td>
                                  <td class="col-md-6"></td>

                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-6">Propriété</td>
                                    <td class="col-md-6">{{ item.property }}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Secteur</td>
                                    <td class="col-md-6">{{ item.property.sector }}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Grandeur</td>
                                    <td class="col-md-6">{{ item.size }}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Decription</td>
                                    <td class="col-md-6">{{ item.description }}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">Services</td>
                                    <td class="col-md-6">
                                        {{ item.serviceName.type1 }}<br>
                                        {{ item.serviceName.type2 }}<br>
                                        {{ item.serviceName.type3 }}<br>
                                        {{ item.serviceName.type4 }}<br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-4"></div>

                </div>


            {% endfor %}
        </div>




    {% endif %}


















 <div id="contact" class="container-fluid bg-grey">
    <form action= "" method= "POST">{% csrf_token %}
          <h2 class="text-center">CONTACT</h2>
          <div class="row">
            <div class="col-sm-5">
              <p>Contacter nous aux coordonnées suivantes</p>
              <p><span class="glyphicon glyphicon-map-marker"></span> Sherbrooke, PQ</p>
              <p><span class="glyphicon glyphicon-phone"></span> (819) 829 5644</p>
              <p><span class="glyphicon glyphicon-envelope"></span> logis2001info@gmail.com</p>
            </div>
            <div class="col-sm-7">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                  <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
              </div>
              <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <button class="btn btn-default pull-right" type="submit" name="MESSAGE">Send</button>
                </div>
              </div>
            </div>
          </div>
    </form>
</div>



<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock content %}
